<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="debfbd18-e786-4efc-afe2-0e41506c50c5" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="debfbd18-e786-4efc-afe2-0e41506c50c5fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
